# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
public/players/estevao_pal.png
public/players/felipe_anderson_pal.png
public/players/gabriel_menino_pal.png
public/players/gustavo_gomez_pal.png
public/players/marcos_rocha_pal.png
public/players/memphis_depay_cor.png
public/players/murilo_pal.png
public/players/raphael_veiga_pal.png
public/players/rios_pal.png
public/players/romero_cor.png
public/players/rony_pal.png
public/players/weverton_pal.png
