#containerCardPlayer {
  width: 400px; /* Largura do card */
  border: 1px solid #ccc; /* Borda para o card */
  border-radius: 10px; /* Bordas arredondadas */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para destacar o card */
  overflow: hidden; /* Evita que o conteúdo transborde */
  margin: 20px auto; /* Centraliza o card horizontalmente */
  background-color: #fff; /* Fundo branco para o card */
  display: flex;
  flex-direction: column;
}

/* Agrupamento da imagem e dados */
#agrupamento {
  display: flex; /* Coloca imagem e dados lado a lado */
  flex-direction: row;
  align-items: center; /* Centraliza verticalmente */
  padding: 20px; /* Espaçamento interno */
}

/* Estilo para a div da imagem */
#imagem {
  flex-shrink: 0; /* Impede que a imagem diminua */
  margin-right: 20px; /* Espaçamento entre imagem e dados */
}

#photoPlayer {
  width: 130px; /* Largura da imagem */
  height: 130px; /* Altura da imagem */
  border-radius: 50%; /* Imagem redonda */
  object-fit: cover; /* Ajusta a imagem para preencher o container */
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

/* Estilo para a div de dados do jogador */
#dadosPlayer {
  display: flex;
  flex-direction: column; /* Coloca os dados em coluna */
  justify-content: space-between; /* Distribui o espaço entre os dados */
}

/* Estilo para os <p> (nome, idade, posição) */
#dadosPlayer p {
  margin: 5px 0; /* Margem entre os parágrafos */
  font-size: 16px; /* Tamanho da fonte */
  font-weight: bold; /* Texto em negrito */
}

/* Estilo para as divs de estatísticas (jogos, gols, assistências) */
#dadosPlayer div {
  margin: 5px 0; /* Espaçamento entre as estatísticas */
  font-size: 14px; /* Tamanho da fonte */
  color: #666; /* Cor do texto */
}

#inputContainer {
  display: flex;
  justify-content: center; /* Center horizontally */
  margin: 20px 0; /* Add some margin above and below the input */
}

#inputSearch {
  border: 1px solid #ccc; 
  border-radius: 10px;
  padding: 6px; 
  font-size: 16px; 
  width: 80%;
  max-width: 400px;
  outline: none;
  transition: border-color 0.3s; 
  text-align: center;
}

#inputSearch:focus {
  border-color: #007BFF; 
}

#inputSearch:placeholder {
  color: #aaa; 
  font-style: italic;
}
