#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#shield {
  width: 80px;
  height: 80px;
  margin-bottom: 5px;
}

#shieldName {
  font-size: 15px; 
  flex-direction: column;
  text-align: center; 
}