#container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

#header {
  flex: 1;
  text-align: left;

  h1{
    font-size: 20px; 
  }
}

#shields {
  display: flex;
  flex: 3;
  justify-content: space-around;
}

.shield.selected {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Estilo de shadow box */
  border-color: #007bff; /* Cor da borda ao ser selecionado */
  background-color: #f0f8ff; /* Cor de fundo ao ser selecionado (opcional) */
}

#shields div {
  text-align: center;
  cursor: pointer;
}

